<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" defaultHref="/home">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Diseases</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button routerLink="/disease/1" routerDirection="forward" expand="block" class="button" fill="outline" color="dark"
    type="submit">Malaria</ion-button>
  <ion-button routerLink="/disease/2" routerDirection="forward" expand="block" class="button" fill="outline" color="dark"
    type="submit">Dengue</ion-button>

</ion-content>